body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;

    background-image: url('/static/images/twiscbackground-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 45%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.container {
    text-align: center;
    background-color: #fafafa;
    width: 940px;
    border-width: 4px;
    margin: 50px auto 0;
}

.container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

.sample {
    text-align: left !important;
}


div.jumbo {
    padding: 10px 0 30px 0;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: darkslategray;
    display: block;
    font-size: 48px;
    margin: 8px 0;
    font-weight: bold;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

form label {
    font-family: initial;
    color: darkslategray;
    font-size: 26px;
    font-weight: bold;
    display: block;
    padding: 10px 0;
}

.optionlabel {
    font-size: 16px;
    display: inline-block;
}

.optionlabeltable {
    font-size: 16px;
    display: inline-block;
    width: auto;
    float: right;
}

.optiontextbox {
    width: 100px;
}

form input#seed {
    height: 50px;
    width: 75%;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 24px;
    margin: 12px;
}

form input#length, form input#temperature, form input#topk, form input#topp, form select#modelname {
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 16px;
    margin: 12px;
}

form textarea#message {
    width: 75%;
    height: 100px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.1em;
}

form input#submit {
    margin: auto;
    display: -webkit-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 22px;
    text-align: center !important;
    color: #000000;
    background-color: #f4f4f4;
}

form input#submit:hover {
    cursor: pointer;
    border: 1px solid #c1c1c1;
    background-color: #dbdbdb;
}

/* Message flashing */
.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
    display: table;
    margin: auto;
}

#TWISC_LOGO_DIV_SEED {
    top: 0px;
    right: 0px;
    padding:15px;
    position:absolute;
}