<!DOCTYPE html>
<html>

<head>
    <title>GPT-2 Chinese generator</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
<div class="container">
    <br/>

    <h1>
        GPT-2 Chinese generator
    </h1>

    {% block content %}
        {% for message in form.seed.errors %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        <form method=post>
            {{ form.seed.label }}
            {{ form.seed }}

            <div>Options:</div>
            {{ form.length.label(class_="optionlabel") }}
            {{ form.length }}
            {% for message in form.length.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        <br>            
            {{ form.temperature.label(class_="optionlabel") }}
            {{ form.temperature }}
            {% for message in form.temperature.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        <br>            
            {{ form.topk.label(class_="optionlabel") }}
            {{ form.topk }}
            {% for message in form.topk.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        <br>            
            {{ form.topp.label(class_="optionlabel") }}
            {{ form.topp }}
            {% for message in form.topp.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
<!-- 
        <br>
            {{ form.fast_pattern.label(class_="optionlabel") }}
            {{ form.fast_pattern }}
            {% for message in form.fast_pattern.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
-->
        <br>
            {{ form.nsamples.label(class_="optionlabel") }}
            <span id=nsamplesValue></span>
            {{ form.nsamples(min=0, max=10, oninput="nsamplesChanged(value)") }}
            {% for message in form.nsamples.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {{ form.submit }}
        </form>
    {% endblock %}

    <br/>
</div>
<script>
    function nsamplesChanged(value) {
        document.getElementById('nsamplesValue').innerText = value
    }
    window.addEventListener("load", () => {
        nsamplesChanged(document.getElementById('nsamples').value);
    });
</script>
</body>

</html>
