<!DOCTYPE html>
<html>

<head>
    <title>GPT-2 假新聞生成器</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<header>
    <link rel="stylesheet" href="/static/css/main.css">
    <ul>
        <li><a>&nbsp;</a></li>
        <a href="https://www.twisc.org" id="TWISC_LOGO_DIV_SEED">
            <img src="/static/images/twisc.png" alt="twisc-logo" width=90 height=25>
        </a>
    </ul>
</header>

<body>

<div class="container">
<div style="position: relative;">
    <h1>
        GPT-2 假新聞生成器
    </h1>

    {% block content %}
        {% for message in form.seed.errors %}<div class="flash">{{ message }}</div>{% endfor %}

        <form method=post>
            {{ form.seed.label }}
            {{ form.seed }}
            <div class="row">
                <label>設定</label>

                <div class="column">
                    {{ form.modelname.label(class_="optionlabel") }}
                    {{ form.modelname }}
                    {% for message in form.modelname.errors %}<div class="flash">{{ message }}</div>{% endfor %}
                    <br>            
                    {{ form.nsamples.label(class_="optionlabel") }}
                    <span id=nsamplesValue></span>
                    {{ form.nsamples(min=0, max=10, oninput="nsamplesChanged(value)") }}
                    {% for message in form.nsamples.errors %}<div class="flash">{{ message }}</div>{% endfor %}
                </div>

                <div class="column">
                    <table>
                    <tr>
                        <td>{{ form.length.label(class_="optionlabeltable") }}</td>
                        <td>{{ form.length(class_="optiontextbox") }}
                            {% for message in form.length.errors %}<div class="flash">{{ message }}</div>{% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.temperature.label(class_="optionlabeltable") }}</td>
                        <td>{{ form.temperature(class_="optiontextbox") }}
                            {% for message in form.temperature.errors %}<div class="flash">{{ message }}</div>{% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.topk.label(class_="optionlabeltable") }}</td>
                        <td>{{ form.topk(class_="optiontextbox") }}
                            {% for message in form.topk.errors %}<div class="flash">{{ message }}</div>{% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.topp.label(class_="optionlabeltable") }}</td>
                        <td>{{ form.topp(class_="optiontextbox") }}
                            {% for message in form.topp.errors %}<div class="flash">{{ message }}</div>{% endfor %}
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
            {{ form.submit }}
        </form>
    {% endblock %}

    <br/>
</div>
</div>

<script>
    function nsamplesChanged(value) {
        document.getElementById('nsamplesValue').innerText = value
    }
    window.addEventListener("load", () => {
        nsamplesChanged(document.getElementById('nsamples').value);
    });
</script>
</body>

</html>
