<!DOCTYPE html>
<html>

<header>
    <title>文章生成</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <ul>
        <li><a href="/">返回生成器</a></li>
        <li><a id="downloadLink" download="GPT2-chinese-samples.txt">下載</a></li>
    </ul>
    <a href="https://www.twisc.org" id="TWISC_LOGO_DIV_SEED">
        <img src="/static/images/twisc.png" alt="twisc-logo" width=90 height=25>
    </a>
</header>

<body>
    <div id="samples">
        <div id="samplesloading" class="container">
            <img src="/static/images/spinner.gif" width=25 height=25>
        </div>
    </div>
</body>
<script>
    console.log("opening source");
    var source = new EventSource("/progress?{{ query|safe }}");
    var samplesForDownload = "";

    source.onmessage = function(event) {
        loadingElement = document.getElementById("samplesloading");
        if (event.data.startsWith("[ALL SAMPLES GENERATED]")) {
            console.log("closing source");
            source.close();

            loadingElement.remove();
        } else {
            sample = decodeURIComponent(event.data);
            console.log("sample received:");
            console.log(sample);

            // Add new div to show the sample
            samplediv = document.createElement('div');
            samplediv.setAttribute('class', 'container');
            samplediv.innerText = sample.split("\n").slice(1).join("\n");
            document.getElementById("samples").insertBefore(samplediv, loadingElement);

            // And add it to the text for downloading
            samplesForDownload += sample + "\n";
            document.getElementById("downloadLink").setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(samplesForDownload));
        }
    }
</script>
</html>
