<!DOCTYPE html>
<html>

<header>
    <title>文章生成</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <ul>
        <li><a href="/">返回生成器</a></li>
        <li><a id="downloadLink" download="GPT2-chinese-samples.txt">下載</a></li>
    </ul>
    <a href="https://www.twisc.org" id="TWISC_LOGO_DIV_SEED">
        <img src="/static/images/twisc.png" alt="twisc-logo" width=90 height=25>
    </a>
</header>

<body>
{% block content %}
    {% for sample in samples_list %}
    <div class="container">
        {{ sample|safe }}
    </div>
    {% endfor %}
{% endblock %}
</body>
<script>
    (function() {
        let text = `{{ samples_combined|safe }}`;
        document.getElementById("downloadLink").setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    })();
</script>
</html>